.owner{
    background: url(../../../public/blue-and-white-modern-real-estate-poster-5@2x.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.owner-text{
    position: absolute;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.836);
    color: #fff;
    padding: 20px;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.owner-text .btn{
    cursor: pointer !important;
}
.owner-text .btn a{
    text-decoration: none !important;
}
@media (max-width:992px) {
    .owner-text{
        top: 30%;
    }
}
