.para{
    line-height: 1.5;
    letter-spacing: 1.25px;
    /* text-align: justify; */
    /* color: #0090FF; */
    margin-left: 50px;
}
@media (max-width:992px) {
    .para{
        margin-left: 0;
        color: #04041b;
    }
}