body{
    direction: rtl;
    font-family: 'Cairo', sans-serif !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0 !important ;
}
header{
    background: url(../../../public/2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}
@media (max-width:1112px) {
    header{
        /* min-height:  95vh; */
        background-size: contain;
    }
    #brand{
        font-size: 20px !important;
    }
    .nav-link{
        font-size: 15px !important;
    }
    .links a{
        font-size: 20px !important;
    }
  }

@media (max-width:992px) {
    header{
        min-height: 80vh;
    }
  }
@media (max-width:900px) {
    header{
        min-height: 75vh;
    }
  }
@media (max-width:776px) {
    header{
        min-height: 60vh;
    }
  }
  
 @media (max-width:676px) {
    header{
        min-height: 50vh;
    }
  }
  /*
@media (max-width:569px) {
    header{
        height: 45vh !important;
    }
  }
@media (max-width:500px) {
    header{
        height: 40vh !important;
    }
  }

   */
 @media (max-width:570px) {
    header{
        min-height: 45vh;
    }
    #brand{
        font-size: 15px !important;
    }
    .links a{
        font-size: 15px !important;
    }
} 
@media (max-width:495px) {
    header{
        min-height: 35vh !important;
    }
  }

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.342);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#brand{
    font-size: 25px;
    font-weight: bold;
    color: #000;
}
.navbar-toggler{
    border: none !important;
}
.nav-link{
    font-weight: bold !important;
    transition: all 0.2s;
}
.nav-link::after{
    content: "";
    height: 3px;
    background-color: rgb(13 110 253);
    bottom: 11px;
    width: 0;
    transition:width .5s ;
    display: block;
}
.nav-link:hover::after{
    width: 100%;
}
.links a{
    font-size: 22px;
    margin-left: 10px;
}