footer a{
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
}
.designer-link {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
    color: inherit !important;
}
footer{
    background-color: black;
    width: auto;
    margin-top: 120px;
    padding-top:50px ;
}
footer p {
    color: #fff;
    padding-bottom: 100px;
}