footer a{
    color: #fff;
    background-color: #6195ff;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
}
footer{
    background-color: black;
    width: auto;
    margin-top: 120px;
    padding-top:50px ;
}
footer p {
    color: #fff;
    padding-bottom: 100px;
}